<main>
    <div class="container">
        <section id="about">
            <h1>About</h2>
            <p>
                Sunshine is an unofficial API for the  <a href="//oc.tc" target="_blank">Overcast Network</a>.<br>
                Created by <a href="//github.com/gilrosenthal" target="_blank">Gil</a>, <a href="//github.com/Jake0oo0" target="_blank">Jake</a>, and <a href="//github.com/jacobbearden" target="_blank">Jacob</a> using <a href="//nodejs.org" target="_blank">node.js</a>.<br>
                Documentation by <a href="//github.com/szboy" target="_blank">Shawn</a>.<br><br>
                
                Sunshine uses a technique called "web scraping" to index information from Overcast Network's website.<br>
                This information includes stats, forum posts, teams, etc.<br>
                All data is returned in a JSON format.
            </p>
        </section>
        <section id="documentation">
            <h1>Documentation</h2>
            <div class="nonauth">
                <h2>Endpoints not requiring Authentication</h3>
                <section>
                    <h3>Player Statistics and Info</h3>
                    <div class="code">{{domain}}/players/<mark>username</mark></div>
                <section>
                    <h3>Forum Topic</h3>
                    <div class="code">{{domain}}/forums/topics/<mark>topic_id</mark></div>
                </section>
                <section>
                    <h3>Forum Post</h3>
                    <div class="code">{{domain}}/forums/<mark>post_id</mark></div>
                </section>
                <section>
                    <h3>Teams</h3>
                    <h4>All teams</h4>
                    <div class="code">{{domain}}/teams/</div>
                    <h4>Specific Team</h4>
                    <div class="code">{{domain}}/teams/<mark>team_id</mark></div>
                </section>
                <section>
                    <h3>Tournaments</h3>
                    <h4>All tournaments</h4>
                    <div class="code">{{domain}}/tournaments/</div>
                    <h4>Specific Tournament</h4>
                    <div class="code">{{domain}}/teams/<mark>tournament_name</mark></div>
                </section>
                <section>
                    <h3>Punishments</h3>
                    <h4>All recent punishments</h4>
                    <div class="code">{{domain}}/punishments/<small>(optional)</small>?page=<mark>page_number</mark></div>
                    <h4>Specific Punishment</h4>
                    <div class="code">{{domain}}/punishments/<mark>punishment_id</mark></div>
                </section>
            </div>
            <div class="auth">
                <h2>Endpoints requiring Authentication</h3>
                
            </div>
        </section>
       
         <section id="contributors">
            <h1>Contributors</h2>
            <div class="thumbnail" data-toggle="tooltip" title="Initial idea, Development">
                <img src="//crafatar.com/avatars/0401f604541c4b288e7ee0679c454f2c?helm&size=75">
            </div>
            <div class="thumbnail" data-toggle="tooltip" title="Development">
                <img src="//crafatar.com/avatars/2d5aa9cdaeb049189930461fc9b91cc5?helm&size=75">
            </div>
            <div class="thumbnail" data-toggle="tooltip" title="Development, Hosting">
                <img src="//crafatar.com/avatars/149cf470051a49b99ab0e731a8d20f8e?helm&size=75">
            </div>
            <div class="thumbnail" data-toggle="tooltip" title="Favicon, Documentation">
                <img src="//crafatar.com/avatars/94812eb711604db4b349c2eac0792218?helm&size=75">
            </div>
        </section>
    </div>
</main>