<main>
    <div class="container">
        <section id="about">
            <h1>About</h2>
            <p>
                Sunshine is an unofficial API for the  <a href="//oc.tc" target="_blank">Overcast Network</a>.<br>
                Created by <a href="//github.com/gilrosenthal" target="_blank">Gil</a>, <a href="//github.com/Jake0oo0" target="_blank">Jake</a>, and <a href="//github.com/jacobbearden" target="_blank">Jacob</a> using <a href="//nodejs.org" target="_blank">node.js</a>.<br>
                Documentation by <a href="//github.com/szboy" target="_blank">Shawn</a>.<br><br>

                Sunshine uses a technique called "web scraping" to index information from Overcast Network's website.<br>
                This information includes stats, forum posts, teams, etc.<br>
                All data is returned in a JSON format.
            </p>
        </section>

        <section id="documentation">
            <h1>Documentation</h2>
              <br>
              <section>
                  <h2>General API Elements</h2>
                  <h3>Pagination</h3>
                  <p class="note">To retrieve a specific page of something use the follow parameter:</p>
                  <div class="code">?page=<mark>page_number</mark></div>
                  <p class="note">For example this link will get me the 2nd page of the "What's New" forum category.</p>
                  <div class="code">{{domain}}/forums/new?page=2</div>
                  <p class="note" id="id">The following endpoints use pagination: <mark>Stats</mark>, <mark>Forum Topics</mark>, <mark>Teams</mark>, <mark>Channels</mark>, <mark>Maps</mark> and, <mark>Punishments</mark>.</p>
              </section>
              <br>
              <section>
                  <h3>Id</h3>
                  <p class="note">Some endpoints use ids to retrieve information. The <mark>id</mark> in this case is a <a href="//www.mongodb.org">MongoDB</a> ObjectID. An <mark>id</mark> looks something like this.</p>
                  <div class="code">557e21685f35b92506006f9e</div>
                  <br>
              </section>
              <section>
                  <h3>Authentication</h3>
                  <p class="note">Some other endpoints need authentication to retrieve or post the information</p>
                  <h4>How to get your token</h4>
                  <p class="note">To get your token is a 1-step process<br>
                  Make a POST request to <div class="code">{{domain}}/players/auth</div> with the following data:
                  <table class="table">
                        <thead>
                           <tr>
                              <td><strong>Post Data</strong></td>
                              <td><strong>Description</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <td>email</td>
                              <td>User's Email</td>
                            </tr>
                            <tr>
                              <td>password</td>
                              <td>User's Password</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <p class="note">Don't worry, the data is kept super securely in a salted hash system where not even we could read it if we tried.
                    <br>
                    The response should be in JSON format, like this example (It's not a real auth token):
                    <div class="code">
                        {                                              <br>
                            "token": "557e21685f35b92506006f9e"<br>
                        }                                              
                    </div>
                    </p>
                    <h4>How to use authentication in API Calls</h4>
                    <p class="note">
                        In calls that need authentication to work, using auth is very easy.
                        In the header section of your request, simply put
                        <table class="table">
                        <tbody>
                            <tr>
                              <td>The name of the Header</td>
                              <td>Authorization</td>
                            </tr>
                            <tr>
                              <td>Header value</td>
                              <td>Bearer <mark>User's token</mark></td>
                            </tr>
                        </tbody>
                    </table>
                    </p>
                    <p class="note">Here is an example:
                    <br>
                    You make a GET request to <div class="code">{{domain}}/friends/online</div>
                    In this, you set the <strong>Authorization</strong> header to  <div class="code">Bearer 557e21685f35b92506006f9e</div>
                    </p>
                    
                  </p>
                  <br>
              </section>
              <div class="nonauth">
                  <h2>Non-Authentication Dependent Endpoints</h2>
                <section>
                    <h3>Stats</h3>
                      <p class="note">By default the stats endpoint will return the top kills in the last 24 hours in all gamemodes.</p>
                      <div class="code">{{domain}}/stats</div>
                      <p class="note">Stats has three parameters <mark>time</mark>, <mark>game</mark>, and, <mark>sort</mark>.</p>
                      <p class="note">This example retrives the top stats on wool captures for the past week in all gametypes.</p>
                      <div class="code">{{domain}}/stats/?time=week&game=all&sort=wool_placed</div>
                      <p class="note">All the properties for the three parameters are down below.</p>
                      <table class="table">
                        <thead>
                           <tr>
                              <td><strong>Parameter</strong></td>
                              <td><strong>Properties</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <td>time</td>
                              <td>day, week, eternity</td>
                            </tr>
                            <tr>
                              <td>game</td>
                              <td>all, projectares, ghostsquadron</td>
                            </tr>
                            <tr>
                              <td>sort</td>
                              <td>kills, deaths, kd, kk, cores_leaked, wool_placed, destroyed_destroyables, playing_time</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <br>
                <section>
                  <h3>Player Information and Statistics</h3>
                  <p class="note">To find a specific player's stats and information use the following format below.</p>
                  <div class="code">{{domain}}/players/<mark>username</mark></div>
                  <p class="note">For example, the code below will retrieve the player information for the player  <a href="//oc.tc/Cubist">Cubist</a>.</p>
                  <div class="code">{{domain}}/players/Cubist</div>
                </section>
                <br>
                <section>
                    <h3>Teams</h3>
                    <p class="note">Specify a team's name to retrieve their information.</p>
                     <div class="code">{{domain}}/teams/<mark>name</mark></div>
                     <p class="note">Not specifing a team will retrive a list of all the teams.</p>
                     <div class="code">{{domain}}/teams</div>
                     <p class="note">The following link will retrieve information for the team <mark>Drifters.</mark></p>
                     <div class="code">{{domain}}/teams/Drifters</div>
                </section>
                <br>
                <section>
                    <h3>Tournaments</h3>
                    <p class="note">To obtain a list of all tournaments do not specify a tournament.</p>
                    <div class="code">{{domain}}/tournaments</div>
                    <p class="note">For example, this snippet will parse the tournament <mark>Attack of the Cores.</mark></p>
                    <div class="code">{{domain}}/tournaments/attack-of-the-cores</div>
                    <p><strong class="text-success">Remember</strong> to use '-' instead of spaces when dealing with tournaments.</p>
                </section>
                <br>
                <section>
                  <h3>Forum Topics</h3>
                  <p class="note">To get a specifc forum topic you are going to need the thread's <mark>id</mark>. Please refer to the <a href="#id">id</a> part of this Documentation.</p>
                  <div class="code">{{domain}}/forums/topics/<mark>id</mark></div>
                  <p class="note">For example, this will get you the topic <ahref="https://oc.tc/forums/topics/50494e68b944ec59bc00596c">Awesome Music Thread.</a></p>
                  <div class="code">{{domain}}/forums/topics/50494e68b944ec59bc00596c</div>
                </section>
                <br>
                <section>
                  <h3>Forum Categories</h3>
                  <p class="note">Specifying nothing except for what is below will return all* the categories of the forums and their ids.</p>
                  <div class="code">{{domain}}/forums/categories</div>
                  <h6>* does not return private categories</h6>
                  <p class="note">Giving an id will give you the first page of the forum category specified.</p>
                  <div class="code">{{domain}}/forums/<mark>id</mark></div>
                  <p class="note">This example will return the first page of the forum category <mark>Announcements</mark>.</p>
                  <div class="code">{{domain}}/forums/4fc17119c463751492000018</div>
                  <p class="note">Finally, using the keyword <mark>new</mark> will return the front page of the What's New category; the most recent threads.</p>
                  <div class="code">{{domain}}/forums/new</div>
                </section>
                <br>
                <section>
                    <h3>Punishments</h3>
                    <p class="note">To retrieve a list of the most recent punishments use:</p>
                    <div class="code">{{domain}}/punishments</div>
                    <p class="docs-note">If you want to retrieve a specific punishment use its <mark>id</mark>.</p>
                    <div class="code">{{domain}}/punishments/<mark>id</mark></div>
                </section>
                <br>
                <section>
                    <h3>Channels</h3>
                    <p class="note">To retrieve a list of player Youtube channels:</p>
                    <div class="code">{{domain}}/channels</div>
                </section>
                <br>
                <section>
                    <h3>Servers</h3>
                    <p class="note">To retrieve a list of all public servers:</p>
                    <div class="code">{{domain}}/servers</div>
                    <p class="note">To retrieve a list of the servers for a specific region:</p>
                    <div class="code">{{domain}}/servers/<mark>region</mark></div>
                    <p>Valid regions include <mark>us</mark> and <mark>eu</mark>.</p>
                    <p class="note">To retrieve a list of server names and their matching rotations:</p>
                    <div class="code">{{domain}}/servers/rotations</div>
                    <p class="note">To retrieve a specific rotation:</p>
                    <div class="code">{{domain}}/servers/rotations/<mark>id</mark></div>
                    <p>The rotation IDs can only be found by calling the first endpoint.</p>
                </section>
                <br>
                <section>
                    <h3>Maps</h3>
                    <p class="note">To retrieve a list of all maps:</p>
                    <div class="code">{{domain}}/maps/all</div>
                    <p class="note">To retrieve a list of all maps currently being played:</p>
                    <div class="code">{{domain}}/maps/playing</div>
                    <p class="note">To retrieve a specific map:</p>
                    <div class="code">{{domain}}/maps/<mark>name</mark></div>
                    <p><strong class="text-success">Remember</strong> that the names are dependent on the map. The map <a href="https://oc.tc/maps/lost_world_ctf">Lost World: CTF</a> has the ID <mark>lost_world_ctf</mark></p>
                    <p class="note">To retrieve all maps for a specific gamemode:</p>
                    <div class="code">{{domain}}/servers/gamemode/<mark>gamemode</mark></div>
                    <p>The list of gamemodes can change, and should use the <mark>short</mark> id. All IDs can be found <a href="https://oc.tc/maps">here</a>.</p>
                </section>

            </div>
            <div class="auth">
                <h2>Authentication Dependent Endpoints</h3>
                <p>Coming Soon!</p>
            </div>
        </section>

         <section id="contributors">
            <h1>Contributors</h2>
            <div class="thumbnail" data-toggle="tooltip" title="Initial idea, Development">
                <img src="//crafatar.com/avatars/0401f604541c4b288e7ee0679c454f2c?helm&size=75">
            </div>
            <div class="thumbnail" data-toggle="tooltip" title="Development">
                <img src="//crafatar.com/avatars/2d5aa9cdaeb049189930461fc9b91cc5?helm&size=75">
            </div>
            <div class="thumbnail" data-toggle="tooltip" title="Development, Hosting">
                <img src="//crafatar.com/avatars/149cf470051a49b99ab0e731a8d20f8e?helm&size=75">
            </div>
            <div class="thumbnail" data-toggle="tooltip" title="Minor Fixes, Documentation">
                <img src="//crafatar.com/avatars/94812eb711604db4b349c2eac0792218?helm&size=75">
            </div>
        </section>
    </div>
</main>
